td {
	width:64px;
	height:64px;
}

.empty {
    background-color:green;
} 

.wall {
    background-color:gray;
} 

.player {
    background-color:lightgray;
} 

.carrot {
    background-color:orange;
} 
